numpy
Pillow
pandas
matplotlib
keras==2.3.1
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
opencv-python==4.5.2.54
flask
Werkzeug
gunicorn