{% extends "base.html" %} {% block content %}


<div class="p-4 roboto">
	<h1 class="mar-bot-40">Nhận diện biển báo giao thông</h1>
	
	<table style="margin: auto; ">
		<tbody>
			<tr>
				<td class="py-2 px-3">Đặng Hữu Toàn</td>
				<td class="py-2 px-3">18521503</td>
			</tr>
			<tr >
				<td class="py-2 px-3">Vũ Minh Quang</td>
				<td class="py-2 px-3">18521304</td>
			</tr>
			<tr >
				<td class="py-2 px-3">Nguyễn Văn</td>
				<td class="py-2 px-3">18521632</td>
			</tr>
		</tbody>
	</table>
</div>

{% endblock %}
